extends base.pug

block content
	h1 NeuroBrush
	h2 A Competitive, Artistic Multi-Modal BCI Application
	p Here is some text explaining the work and 
		a(href="https://artisticbci.files.wordpress.com/2018/04/nicholas-cioli.pdf") publication
	a(class="btn btn-default btn-block rain" style="margin: auto" href="/new" role="button") Start Game