doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet", href="/css/style.css")
	body
		div(class="pointer-container")
			div(id="pointer")
				span(style="font-size: 40px;") *
		div(id="croquis-container")

		script(src="/socket.io/socket.io.js")
		script(src="/js/croquis.js")
		script(src="/js/client.js")