doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet", href="/css/style.css")
	body
		h1 Hello, world!

		canvas(id="canvas")
			p This is not supported on this browser :(

		script(src="/socket.io/socket.io.js")
		script(src="/js/client.js")