body {
	margin: 1em 4em;
	background-color: #EEEEEE;
}

h1 {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;

	-webkit-text-stroke: 1px black;
	        text-stroke: 1px black;
}

button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0.01em solid white;
	outline: none;
	cursor: pointer;

	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 1.2em;
	text-transform: uppercase;
	-webkit-text-stroke: 1px black;
	        text-stroke: 1px black;

	width: 100%;
	padding: 0.25em;
	margin: 0.1em;
}

progress {
	width: 100%;
	margin: 0.5em 0;
	color: grey;
	-moz-progress-bar { background-color: #000 !important; }
	/* background-color: grey; */

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

button:hover {
	background-color: #66666655;
}

button::-moz-focus-inner {
	border: 0;
}

/* Rainbow effect from https://codepen.io/nohoid/pen/kIfto */
@-webkit-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes rainbow { 
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}

.modal-inner {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	color: white;

	-webkit-animation: rainbow 18s ease infinite;
		 -z-animation: rainbow 18s ease infinite;
		 -o-animation: rainbow 18s ease infinite;
			animation: rainbow 18s ease infinite;
}

.pointer-container {
	position: absolute;
}

#croquis-container {
	width: 100%;
	margin: 0 auto;
	/* border: 0.25em ridge black; */
	box-shadow: 3px 3px 8px #BDBDBD;
}

#pointer {
	position: relative;
	font-size: 0;
	pointer-events: none;
	z-index: 9999;
	left: 0px;
	top: 0px;
}