body {
	padding: 54px 54px 54px 0;
	background-color: #EEEEEE;
	-webkit-transition: background-color 250ms linear;
        -ms-transition: background-color 250ms linear;
	        transition: background-color 250ms linear;
}

@media (min-width: 992px) {
	body {
		padding: 56px;
	}
}

/* Rainbow effect from https://codepen.io/nohoid/pen/kIfto */
@-webkit-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes rainbow { 
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}

.rain {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;
	color: white;

	-webkit-animation: rainbow 18s ease infinite;
		 -z-animation: rainbow 18s ease infinite;
		 -o-animation: rainbow 18s ease infinite;
			animation: rainbow 18s ease infinite;
}

.pointer-container {
	position: absolute;
}

.not-selectable {
	text-decoration: line-through;
}

#croquis-container {
	height: 30em;
	width: 64em;
	margin: 0.25em auto;
	/* border: 0.25em ridge black; */
	box-shadow: 3px 3px 8px #BDBDBD;
}

#pointer {
	position: relative;
	font-size: 0;
	pointer-events: none;
	z-index: 9999;
	left: 0px;
	top: 0px;
}

#progress-timer {
	margin: 0.5em auto;
	text-align: center;
}